*{
    padding: 0;
    margin: 0;
}
body{
    background: url(./61b5911c9d37d0449acee390_soccer-ball-on-grass-in-corner-kick-position-on-so-2021-08-29-10-46-54-utc-min.jpg) no-repeat;
    background-size: cover;
}
header{
    margin-top: 50px;
}
header h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}